* {
	box-sizing: border-box;
	cursor: default;
}

html {
	height: 100%;
}

body {
	background: #ecf0f5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

small {
	font-size: 65%;
}

#__nuxt {
	height: 100%;
}

.thin {
	font-weight: 200;
}

.no-select {
	user-select: none;
}